{% extends 'base.html.twig' %}

        {% block styles %}
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
        {% endblock %}

{% block body %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

        <h1>A propos</h1>



        <<p>Connecté en tant que {{ app.user.username }} - </p>
        <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>

    {% else %}
        <h1 class="mt-5">Bienvenue sur la gestion ESync</h1>
        <p class="lead">Interface sécurisé, veuillez vous <a href="{{ path('fos_user_security_login') }}">connecter </a>pour acceder au portail de gestion</p>
    {% endif %}

{% endblock %}
        {% block scripts %}
            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
            <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>

            <script>
                $(document).ready(function () {
                    $('#tags').DataTable();
                });
            </script>
        {% endblock %}

